body{
    font-family: 'Roboto', sans-serif;
    background: #E0E0E0;
}

header{
    display: flex;
    justify-content:center;
    width: 100%;
    height: 80px;
    background-color: #5163D3;
}
header img{
    width: 49px;
    height: 52px;
    margin-top: 14px;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
}
main img{
    margin-top: 60px;
    width: 100%;
    margin-bottom: 50px;
}
#esconde{
    display: none;
}
#P-esconde{
    display: none;
}
#a-esconde{
    display: none;
}
main span{
    display: flex;
    flex-direction: column;
    background:#D7E4FB;
    color:#5163D3;
    font-size: 10px;
    line-height: 12px;
    margin-left: 20px;
    padding: 2px;
    width: 70px;
}
main h1{
    font-family: 'Roboto Slab';
    margin-left: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 110%;
    color: #5163D3;
    margin-top: 10px;
    margin-bottom: 20px;
}
main ul{
    display: flex;
    flex-direction: column;
}
main ul li{
    background-color: #ffffff;
    margin: 10px;
    padding: 10px;
    border-radius: 7px;
}
main ul li img{
    display: none;
}
main ul li div h2{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    color: #5163D3;
    margin-left: 20px;
    margin-top: 10px;
}
main ul li div p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #1B1C1E;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
main ul li div a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #1B1C1E;
    margin-left: 20px;
}
footer{
    margin-top: 20px;
    background-color: #EEEEEE;
    width: 100%;
    height: 30px;
}
footer p{
    padding: 10px;
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
}

@media (min-width:768px){
    main ul li{
        display: flex;
        background-color: #ffffff;
        margin: 10px;
        padding: 10px;
        border-radius: 7px;
    }
    main ul li img{
        display: flex;
        width: 270px;
        height: 180px;
    }
    main ul li div{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (min-width:1024px){
    #P-esconde{
        display: inline;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #1B1C1E;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    #a-esconde{
        display: inline;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        color: #1B1C1E;
        margin-left: 20px;
    }
    #principal{
        display: flex;
    }
    #ajusta{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }
    #imagem{
        padding: 10px;
    }
    main span{

    }
    main img{
        display: none;
    }
    #esconde{
        display: flex;
        width: 380px;
        height: 290px;
    }
    #span{
        font-size: 15px;
    }
    main ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    main ul li{
        display: flex;
        flex-wrap: wrap;
        width: 46%;
        background-color: #ffffff;
        margin: 10px;
        padding: 10px;
        border-radius: 7px;
    }
    main ul li img{
        display: flex;
        width: 140px;
        height: 100px;
    }
    main ul li div{
        max-width: 380px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}



